{% extends 'main/base.html' %}

{% block title %}
Home 
{% endblock %}

{% block content %}
<h3>Home Page</h3>

  </br>
<div class="card">
    <div class="card-header">
      Create your Do-To-List
    </div>
    <div class="card-body">
      <h5 class="card-title">Make your Life Simple with Our Website</h5>
      <p class="card-text">List your task here and recall them whenever you what.</p>
      <a href="create" class="btn btn-success">Create Your New To-Do-List</a>
    </div>
  </div>
{% endblock %}
